
{#    {{ form_start(form) }}#}
{#        #}{# {{ form_errors(form) }}#}

{#        <div class="row mb-3">#}
{#            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.avatar) }}#}
{#                {{ form_errors(form.avatar) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.about) }}#}
{#                {{ form_errors(form.about) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.gender) }}#}
{#                {{ form_errors(form.gender) }}#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.country) }}#}
{#                {{ form_errors(form.country) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.address) }}#}
{#                {{ form_errors(form.address) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="City" class="col-md-4 col-lg-3 col-form-label">City</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.city) }}#}
{#                {{ form_errors(form.city) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="province" class="col-md-4 col-lg-3 col-form-label">Province</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.province) }}#}
{#                {{ form_errors(form.province) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="province" class="col-md-4 col-lg-3 col-form-label">Province</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.country) }}#}
{#                {{ form_errors(form.country) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.facebook) }}#}
{#                {{ form_errors(form.facebook) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.twitter) }}#}
{#                {{ form_errors(form.twitter) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="LinkedIn" class="col-md-4 col-lg-3 col-form-label">LinkedIn Profile</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.linkedin) }}#}
{#                {{ form_errors(form.linkedin) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="row mb-3">#}
{#            <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>#}
{#            <div class="col-md-8 col-lg-9">#}
{#                {{ form_row(form.instagram) }}#}
{#                {{ form_errors(form.instagram) }}#}
{#            </div>#}
{#        </div>#}

{#        <div class="text-center">#}
{#            {{ form_row(form.save, { 'label': 'Update Profile' }) }}#}
{#        </div>#}
{#    {{ form_end(form) }}#}