<!DOCTYPE html>
<html lang="en">
    <head>
        {{ include('backend/partials/_head.twig') }}
    </head>
  <body>
    <main>
      <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                {# <div class="d-flex justify-content-center py-4">
                  <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="/backend/img/logo.png" alt="">
                    <span class="d-none d-lg-block">Tumeny</span>
                  </a>
                </div> #}
                <!-- End Logo -->

                <div class="card mb-3">

                  <div class="card-body">

                    <div class="pt-4 pb-2">
                        <a href="/"><h5 class="card-title text-center pb-0 fs-4" style="color: #009961;">TuMeNy</h5></a>
                        <p class="text-center small">Enter your personal details to create account</p>
                    </div>

                    <form class="row g-3" method="POST" action="">
                        {# @csrf #}
                        
                        {# <div class="col-sm-12 col-md-6">
                            <label for="first-name" class="form-label">First Name</label>
                            <input type="text" id="firstname" name="first_name" class="form-control shadow-none" value="" required>
                        
                            @error('first_name')
                                <span class="text-xs text-danger">{{ $message }}</span>
                            @enderror
                        </div> #}

                        {# <div class="col-sm-12 col-md-6">
                            <label for="last-name" class="form-label">Last Name</label>
                            <input type="text" id="lastname" name="last_name" class="form-control shadow-none" value="" required>
                        
                            @error('last_name')
                                <span class="text-xs text-danger">{{ $message }}</span>
                            @enderror
                        </div> #}

                        <div class="col-12">
                          <label for="email" class="form-label">Email Address</label>
                          <input type="email" name="email" class="form-control shadow-none" id="email" value="" required>
                        
                          {# @error('email')
                            <span class="text-xs text-danger">{{ $message }}</span>
                          @enderror #}
                        </div>

                        <div class="col-12">
                          <label for="mobile-number" class="form-label">Mobile Number</label>
                          <input type="text" name="mobile_number" class="form-control shadow-none" id="mobilenumber" value="" required>
                        
                          {# @error('mobile_number')
                            <span class="text-xs text-danger">{{ $message }}</span>
                          @enderror #}
                        </div>

                        <div class="col-12">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control shadow-none" id="password" required>
                        
                          {# @error('password')
                            <span class="text-xs text-danger">{{ $message }}</span>
                          @enderror #}
                        </div>

                        <div class="col-12">
                          <label for="password-confirm" class="form-label">Confirm Password</label>
                          <input type="password" name="password_confirmation" class="form-control shadow-none" id="password-confirm" required>
                        </div>

                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                            <label class="form-check-label" for="acceptTerms" >I agree and accept the <a href="#" style="color: #009961;">terms and conditions</a></label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                          </div>
                        </div>

                        <div class="col-12">
                          <button class="btn btn-success w-100" type="submit">Create Account</button>
                        </div>

                        <div class="col-12">
                          <p class="small mb-0">Already have an account? <a href="/login" style="color: #009961;">Log in</a></p>
                        </div>
                    </form>

                  </div>
                </div>

                <div class="credits">
                  <!-- All the links in the footer should remain intact. -->
                  <!-- You can delete the links only if you purchased the pro version. -->
                  <!-- Licensing information: https://bootstrapmade.com/license/ -->
                  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                  Powered by <a href="https://kanaitech.com/" style="color: #009961;">Kanai Technologies</a>
                </div>

              </div>
            </div>
          </div>

        </section>

      </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background: #009961;"><i class="bi bi-arrow-up-short"></i></a>
    
    <!-- ======= Footer/Scripts ======= -->
    {{ include('backend/partials/_scripts.twig') }}
  </body>
</html>

{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}

