{% extends 'auth.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">

            <div class="pt-4 pb-2">
                <a href="/"><h5 class="card-title text-center pb-0 fs-4" style="color: #009961;">TuMeNy</h5></a>
                <p class="text-center small">Enter your personal details to create account</p>
            </div>

            {{ form_start(registrationForm) }}
                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.firstName) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.lastName) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.mobileNumber) }}
                </div>

                <div class="col-12 mb-3">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>

                {# <div class="col-12 mb-3">
                    {{ form_row(registrationForm.confirmPassword) }}
                </div> #}

                <div class="col-12 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label text-xs" for="acceptTerms" >I agree and accept the <a href="#" style="color: #009961;">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <button class="btn btn-success w-100" type="submit">Create Account</button>
                </div>

                <div class="col-12">
                    <p class="small mb-0">Already have an account? <a href="/login" style="color: #009961;">Log in</a></p>
                </div>
            {{ form_end(registrationForm) }}
                    
        </div>
    </div>
{% endblock %}

