{% extends 'backend/base.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block body %}
<!-- Page Title -->
<div class="pagetitle">
  <h1>{{ pageTitle }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Home / Products</a></li>
      <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
<section class="section contact">
  <div class="row gy-4">

    <!-- Contact Form -->
    <div class="col-12">
      <div class="card p-4">
        <div class="card-body pb-0">

            {{ form_start(customerForm) }}
                <div class="row gy-4">
                    <div class="col-md-12">
                        {{ form_row(customerForm.businessName) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.contactPerson) }}   
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.mobileNumber) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.email) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.address) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.city) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_row(customerForm.country) }}
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success">Add Customer</button>
                    </div>
                </div>
            {{ form_end(customerForm) }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


