<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include('backend/partials/_head.twig') }}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {{ include('backend/partials/_header.twig') }}

    <!-- ======= Sidebar ======= -->
    {{ include('backend/partials/_sidebar.twig') }}

    <main id="main" class="main">
      {% block body %}{% endblock %}
    </main><!-- End #main -->

    {# {{ include('backend/partials/_modals.twig') }} #}
    {{ include('backend/partials/_footer.twig') }}
    {{ include('backend/partials/_scripts.twig') }}
    {% block scripts %}{% endblock %}
  </body>
</html>