<div class="sidebar">

{#    <h3 class="sidebar-title">Search</h3>#}
{#    {{ include('blog/_search.html.twig') }}#}

    <h3 class="sidebar-title">Categories</h3>
    <div class="sidebar-item categories">
        <ul>
            {% for category in categories %}
                <li><a href="{{ path('articles.singleCategory', {'slug': category.slug}) }}">{{ category.name}}</a></li>
{#                <li><a href="#">{{ category.name}} <span>(25)</span></a></li>#}
            {% else %}
                <p class="text-center"><b>No categories found</b></p>
            {% endfor %}
        </ul>
    </div><!-- End sidebar categories-->

    <h3 class="sidebar-title">Recent Posts</h3>
    <div class="sidebar-item recent-posts">
        {% for post in latest_posts %}
            <div class="post-item clearfix mb-3">
                {# <img src="assets/img/blog/blog-recent-1.jpg" alt="">#}
                <h4><a href="{{ path('articles.single', {'slug': post.slug}) }}">{{ post.title }}</a></h4>
                <time datetime="2020-01-01">{{ post.createdAt ? post.createdAt|date('M d, Y') : '' }}</time>
            </div>
        {% else %}
            <p class="text-xs">No recent posts found</p>
        {% endfor %}
    </div><!-- End sidebar recent posts-->

{#    <h3 class="sidebar-title">Tags</h3>#}
{#    <div class="sidebar-item tags">#}
{#        <ul>#}
{#            {% for tag in tags %}#}
{#                <li><a href="#">{{ tag->name }}</a></li>#}
{#            {% else %}#}
{#                <p class="text-center"><b>No tags found</b></p>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
    <!-- End sidebar tags-->

</div><!-- End sidebar -->