{% extends "frontend/base.html.twig" %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Author: {{ user.firstName }} {{ user.lastName }}</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">
                    {% if user %}
                        {% if user.posts|length > 0 %}
                            {% for post in user.posts %}
                                <article class="entry">
                                    <div class="entry-img">
                                        <img src="{{ asset('uploads/posts/' ~ post.imagePath) }}" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="entry-title">
                                        <a href="{{ path('articles.single', {'slug': post.slug}) }}">{{ post.title }}</a>
                                    </h2>

                                    <div class="entry-meta">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{ path('articles.singleAuthor', {'id': user.id}) }}">{{ post.user }}</a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{ post.createdAt ? post.createdAt|date('M d, Y') : '' }}</time></a></li>
                                            {# <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
                                        </ul>
                                    </div>

                                    <div class="entry-content">
                                        {#                                {% set content = post.content|raw %}#}
                                        {{ post.content|striptags|slice(0, 200) ~ '...' }}
                                        <div class="read-more">
                                            <a href="{{ path('articles.single', {'slug': post.slug}) }}">Read More</a>
                                        </div>
                                    </div>
                                </article><!-- End blog entry -->
                            {% endfor %}
                        {% else %}
                            <p class="text-center"><b>No posts by {{ author.name }} found</b></p>
                        {% endif %}
                    {% endif %}

                    {#                    <div class="blog-pagination">#}
                    {#                        <ul class="justify-content-center">#}
                    {#                            <li><a href="#">1</a></li>#}
                    {#                            <li class="active"><a href="#">2</a></li>#}
                    {#                            <li><a href="#">3</a></li>#}
                    {#                        </ul>#}
                    {#                    </div>#}

                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    {{ include('blog/_sidebar.html.twig') }}
                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->
{% endblock %}
