{% extends "frontend/base.html.twig" %}

{% block body %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="{{ path('articles.index') }}">Blog</a></li>
                <li>Blog Single</li>
            </ol>
            <h2>{{ post.title }}</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="{{ asset('uploads/posts/' ~ post.imagePath) }}" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">{{ post.title }}</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{ post.user }}</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ post.createdAt ? post.createdAt|date('M d, Y') : '' }}</time></a></li>
                                {#<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
                            </ul>
                        </div>

                        <div class="entry-content">
                            {{ post.content|raw }}
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">{{ post.category }}</a></li>
                            </ul>

{#                            <i class="bi bi-tags"></i>#}
{#                            <ul class="tags">#}
{#                                <li><a href="#">Creative</a></li>#}
{#                                <li><a href="#">Tips</a></li>#}
{#                                <li><a href="#">Marketing</a></li>#}
{#                            </ul>#}
                        </div>

                    </article><!-- End blog entry -->

{#                    <div class="blog-author d-flex align-items-center">#}
{#                        <img src="public/frontend/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">#}
{#                        <div>#}
{#                            <h4>Jane Smith</h4>#}
{#                            <div class="social-links">#}
{#                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>#}
{#                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>#}
{#                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>#}
{#                            </div>#}
{#                            <p>#}
{#                                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- End blog author bio -->

{#                    <div class="blog-comments">#}
{#                        {{ include('blog/_comments.html.twig') }}#}
{#                    </div>#}
                    <!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">
                    {{ include('blog/_sidebar.html.twig') }}
                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->
{% endblock %}
