<!DOCTYPE html>

<title>Hello MailerController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/kanai/Documents/kanaistevew.com/kanaitech-projects/symfony6/tumeny-demo/src/Controller/MailerController.php'|file_link(0) }}">src/Controller/MailerController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/kanai/Documents/kanaistevew.com/kanaitech-projects/symfony6/tumeny-demo/templates/mailer/index.html.twig'|file_link(0) }}">templates/mailer/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #21413C;
        }
    </style>

    <h1>Welcome {{ name }}!</h1>

    <p>You signed up as {{ userMail }} with the following email:</p>
    <p><code>{{ email.to[0].address }}</code></p>

    <p>
        <a href="#">Click here to activate your account</a>
        (this link is valid until {{ expiration_date|date('F jS') }})
    </p>
{% endapply %}
