{% extends 'backend/base.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block body %}
<!-- Page Title -->
<div class="pagetitle">
  <h1>{{ pageTitle }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
      <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
<section class="section contact">
    <div class="row gy-4">

        <!-- Recent Transaction -->
        <div class="col-12">
            <div class="card recent-sales">

                <div class="card-body pt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Total Products({{ products|length }}) <span>| Today</span></h5>
                        <div class="mb-2 mb-lg-0">
                            <a href="{{ path('create_product') }}" class="btn btn-sm btn-success"><i class="bi bi-plus"></i> Add New Product</a>
                        </div>
                    </div>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                {# <th scope="col">Date</th> #}
                                {# <th scope="col">Customer</th> #}
                                {# <th scope="col">File</th> #}
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Vat</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                {# <th scope="row"><a href="#">2022-05-17</a></th> #}
                                {# <td>Chiinga Musonda</td> #}
                                {# <td><img src="{{ product.productImage }}" alt="" class="shadow-xl rounded-md"/></td> #}
                                {# <td><a href="{{ asset('uploads/products/' ~ product.productImage) }}">View product (PDF)</a></td> #}
                                <td><a href="#" class="text-success">{{ product.name }}</a></td>
                                <td>K{{ product.price }}</td>
                                <td>{{ product.vat }}%</td>
                                <td>K{{ product.priceWithVat }}</td>
                                <td>
                                    {# <span class="btn btn-info btn-xs"><i class="bi bi-eye"></i></span> #}
                                    <span class="btn btn-success btn-xs"><i class="bi bi-pencil-square"></i></span>
                                    <span class="btn btn-danger btn-xs"><i class="bi bi-trash"></i></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div><!-- End Recent Transaction -->

    </div>
</section>
{% endblock %}

